// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// fokus color :

$vertc: #415D43;
$vertf: #111D13;
$gris: #EAF4F4;
$noir: #020202;
$blanc: #F7F7FF;
