<div id="<%= dom_id(task) %>" class="todo-carte" data-controller="task-help" data-completed="true">
  <div class="todo-carte-header">
    <!-- Partie gauche : checkbox + titre centrés verticalement -->
    <div class="header-left">
      <%= link_to uncomplete_task_path(task), data: { turbo_method: :patch, turbo: true } do %>
        <!-- Checkbox complétée -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
          <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4">
            <path d="M24 44a19.94 19.94 0 0 0 14.142-5.858A19.94 19.94 0 0 0 44 24a19.94 19.94 0 0 0-5.858-14.142A19.94 19.94 0 0 0 24 4A19.94 19.94 0 0 0 9.858 9.858A19.94 19.94 0 0 0 4 24a19.94 19.94 0 0 0 5.858 14.142A19.94 19.94 0 0 0 24 44Z"/>
            <path stroke-linecap="round" d="m16 24l6 6l12-12"/>
          </g>
        </svg>
      <% end %>

      <p class="todo-title"><%= task.title %></p>
    </div>

  </div>

  <!-- Summary caché par défaut -->
  <div class="task-summary" data-task-help-target="body" style="">
    <p><%= task.ressource_ia %></p>
  </div>
</div>
