<div class="homepage">
  <h1 class="hero-title">
    Bienvenue<br>sur Fokus
  </h1>

  <p class="hero-subtitle">
    Organise tes tâches, laisse l’IA créer la todo parfaite pour ta journée.
  </p>


  <div class="feature-card">
    <p class="feature-title">Todolist assistée par IA</p>
    <p class="feature-text">
      Dis ce que tu veux accomplir, Fokus génère une liste claire, priorisée et réalisable.
    </p>
  </div>

  <div class="hero-center-text">
    <% if user_signed_in? %>
      <div class="fokus-slider"
        data-controller="slidebutton"
        data-slidebutton-target="slider">
        <span class="fokus-slider-text" data-slidebutton-target="text">
          Glisser pour commencer
        </span>

        <div class="fokus-slider-handle"
            data-slidebutton-target="handle"
            data-action="mousedown->slidebutton#startDrag touchstart->slidebutton#startDrag">
          <span class="fokus-slider-arrow">›</span>
        </div>
      </div>
      <% else %>
      <%= link_to "Se connecter", new_objective_path, class: "bouton mx-3" %>
    <% end %>
  </div>

</div>
