.back-link {
  z-index: 100000;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: lightgray;
  border-radius: 50%;
  opacity: 70%;
  position: fixed;
  top: 60px;
  left: 8px;
  // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  // color: #333;
  // font-size: 18px;
  // font-weight: 600;
  // margin-bottom: 15px;
}
