.back-link {
  z-index: 1000;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blanc;
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
