.bouton{
  background-color: $noir;
  color: $blanc;
  padding: 10px 30px ;
  width: 100%;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
  border: 0px solid;
  background: linear-gradient(45deg, #24321d,  #506349, #7dae68) !important;
  background-size: 300% 200%;
  border-radius: 50px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}


.fokus-btn {
  position: fixed;
  bottom: calc(env(safe-area-inset-bottom, 10px) + 40px);
  width: 90%;
  max-width: 320px;
  margin: 40px auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: $blanc;
  left: 50%;
  transform: translateX(-50%);
}

.dbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
