.bouton{
  background-color: $noir;
  color: $blanc;
  padding: 10px 30px ;
  width: 100%;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
}

.fokus-btn {
  position: fixed;
  bottom: calc(env(safe-area-inset-bottom, 10px) + 40px);
  width: 90%;
  max-width: 320px;
  margin: 40px auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
