.carre{
  width: 200px;
  height: 200px

}

.bg-vertc {
  background-color: $vertc;
}

.bg-vertf {
  background-color: $vertf;
}
.bg-gris {
  background-color: $gris;
}
.bg-noir {
  background-color: $noir;
}
.bg-blanc {
  background-color: $blanc;
}
.noir {
  color:$noir
}
.vertc {
  color: $vertc;
}

.vertf {
  color: $vertf;
}
.gris {
  color: $gris;
}
.blanc {
  color: $blanc;
}
