summary::-webkit-details-marker {
  display: none; /* Chrome, Safari */
}

summary::marker {
  content: ""; /* Firefox */
}

summary {
  position: relative;
  list-style: none; // Firefox
}

details {
  text-align: center;
}

details p {
  text-align: left;
}
