summary::-webkit-details-marker {
  display: none; /* Safari */
}

summary::marker {
  content: ""; /* Chrome - Firefox */
}

summary {
  position: relative;
  padding-left: 30px; /* espace pour icône */
}
