summary::-webkit-details-marker {
  display: none; /* Safari */
}

summary::marker {
  content: ""; /* Chrome - Firefox */
}

summary {
  position: relative;
  list-style: none; // Firefox
}

details {
  text-align: center;
}

details p {
  text-align: left;
}
