// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "color_config";
@import "button";
@import "taches";
@import "progressbar";
@import "sidebar";
@import "navbar";
@import "taches";
@import "form";
@import "programs";
@import "details";
@import "stats";
@import "task_card";
@import "progress"
