.navbar-lewagon {
  transition: transform 0.3s ease;
  position: relative;
  z-index: 4000;
}

.navbar-lewagon.shifted {
  transform: translateX(75vw);
}

.hidden {
  display: none;
}

.nav-toggle-btn svg {
  transition: opacity .2s ease;
}


.overlay {
  z-index: 5000 !important;
}
