.fokus-progress-container {
  width: 100%;
  height: 36px;
  background: $blanc;
  border-radius: 20px;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.162);
  overflow: hidden;
  margin: 20px 0;
}

.fokus-progress-bar {
  position: relative;
  height: 100%;
  width: 0%;
  border-radius: 20px;
  background: linear-gradient(to right, #7dae68 0%, #8dbe79 99%);
  transition: width 0.8s ease-out;
  overflow: hidden;

  &.complete {
    background: linear-gradient(135deg, #7dae68,  #8dbe79) !important;
  }
}

.fokus-progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $noir;
  font-size: 13px;
  font-weight: 700;
  z-index: 20;
  pointer-events: none;
  white-space: nowrap;
}
