.programmes-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 30px 16px;
  box-sizing: border-box;


  a {
    text-decoration: none;
  }
s
  p {
    margin: 4px;
  }

  h2 {
    text-align: center;
    color: $noir;
  }

  .programmes-fk-title {
    color:black;
    margin: 0;
    font-size: 40px;
  }

  .programmes-fk-subtitle {
    color:black;
    margin-top: 8px;
  }

  /* Background */
  .fk-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    z-index: -1;
    background-image: asset-url("backgroundForm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Header */
  .programmes-header {
    text-align: center;
    margin: 30px 0;

    h1 {
      font-size: 2.5rem;
      color: $noir;

      .programmes-dot {
        color: #ff4fa5;
      }
    }
  }

  /* Carte principale */
  .programmes-main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    width: 100%;

    .programmes-cards-scroll {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      max-width: 600px;
      // overflow-y: auto;
      padding: 8px;
      margin: auto 0 75px 0;
    }

    .programmes-carte {
      position: relative; /* nécessaire pour le footer absolu */
      border-radius: 32px;
      box-shadow: 0 8px 32px rgba(0,0,0,0.1);
      background-color: rgba(255,255,255,0.95);
      overflow: hidden;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      color: #333;

      .programmes-carte-link {
        display: block;
        color: inherit;
        text-decoration: none;

        * {
          text-decoration: none;
        }
      }

      &-header {
        padding: 16px;
        font-weight: 600;
        color: #fff;
        background-size: cover;
        border-radius: 32px 32px 0 0;
      }

      &-body {
        padding: 16px;
      }

      /* Footer avec bin à droite */
      .programme-footer {
        position: absolute;
        bottom: 16px;
        right: 16px;

        .programmes-delete-btn img {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }

      &[data-completed="true"] {
        padding-bottom: 0;
      }

      &[data-completed="true"] .programmes-carte-header {
        background: linear-gradient(135deg, #37d27a, #2bb266) !important;
        color: #fff;
        opacity: 0.95;
        text-align: center;
      }

      &[data-completed="false"] .programmes-carte-header {
         background: linear-gradient(to right, red 0%, orange 99%) !important;
      }
    }
  }
}
