.programmes-page {
  .objective-container {
  min-height: 100vh;
  padding-bottom: 80px;
  overflow-y: auto;
  padding: 30px 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    text-align: center;
    margin-bottom: 8px;
  }


    .programmes-carte {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 32px;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
      margin: 0 16px 1rem 16px;
      overflow: hidden;
      position: relative;

      &-header {
        font-weight: 600;
        padding: 16px;
        border-radius: 32px 32px 0 0;
        color: $blanc;
        background-size: cover;
      }

      &-body {
        padding: 16px;
        margin: 0;
        display: flex;
        flex-direction: column;

        p {
          margin: 0.5rem 0;
        }

        .programme-footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 8px;

          span {
            font-weight: 500;
          }

          .programmes-delete-btn {
            display: flex;
            align-items: center;

            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .programmes-carte-link {
        text-decoration: none;
        color: inherit;
        display: block;
      }
    }
  }
}
