.progress {
  width: 100%;
  max-width: 300px;
  height: 28px;
  background: $vertf;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

.progress__value {
  width: 45%;
  height: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:8px;
  white-space:nowrap;
  background: linear-gradient(90deg,#619a65, $vertc);
  color: white;
  font-weight:600;
  transition: width 400ms ease;
  border-radius: 14px;
}
