.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 75vw;
  height: 100vh;
  background: white;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 5000;
}


.sidebar a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 6px 0;
}


.sidebar a:hover {
  color: #555;
}


.sidebar ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}



.sidebar.open {
  transform: translateX(0);
}

.close-sidebar-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .45);
  opacity: 0;
  pointer-events: none;
  z-index: 4000;
  transition: opacity .3s ease;
}

.overlay.visible {
  opacity: 1;
  pointer-events: auto;
}
