/* --- SIDEBAR --- */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 75vw;
  height: 100vh;
  background: white;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 5000;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 6px 0;
}

.sidebar a:hover {
  color: #555;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-header-obj {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  margin-top: 0px;
}

.sidebar ul {
  padding: 8px 16px;
  margin: 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 0;
}

.profil {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #415D43;
}


.close-sidebar-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  appearance: none !important;
  color: $noir !important;
  background: transparent !important;
}




.sidebar h3.dashboard-title {
  margin-top: 15px;
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .45);
  opacity: 0;
  pointer-events: none;
  z-index: 4000;
  transition: opacity .3s ease;
}

.overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.hr-rose {
    border: 0;
    border-top: 1.2px solid #ff4fa5;
    margin: 8px 0;
}
