/* PAGE WRAPPER */
.stats-wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 20px;
}

/* BACKGROUND ANIMÉ */
.stats-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  background-image: asset-url("backgroundForm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: statsMove 6s ease-in-out infinite alternate;
  z-index: -1;
}

@keyframes statsMove {
  0% { transform: translateY(0); }
  100% { transform: translateY(-40px); }
}

/* HEADER */
.stats-header {
  text-align: center;
  margin-bottom: 20px;
}

.stats-title {
  color: $noir;
  font-size: 36px;
}

.stats-title-dot {
  color: #ff4fa5;
}

/* CONTAINER PRINCIPAL */
.stats-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* GRID DES CARTES */
.stats-grid {
  display: flex;
  justify-content: center;
  // grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 16px;
}

/* CARTE */
.stats-card {
  background: rgba(255, 255, 255, 0.92);
  width:130px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

/* TITRE CARTE AVEC IMAGE */
.stats-card-title {
  padding: 12px;
  min-height: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: white;
  background-size: cover;
  background-position: center;
}

/* BODY CARTE */
.stats-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #222;

  p {
    margin:0;
  }
}



.stats-card-number {
  font-size: 16px;
  font-weight: bold;
  color: #222;
}

/* GRANDE CARTE */
.stats-large-card {
  background: rgba(255, 255, 255, 0.92);
  border-radius: 20px;
  overflow: hidden;
}

.stats-large-card-title {
  padding: 16px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-size: cover;
  background-position: center;
}

.stats-large-card-body {
  padding: 20px;
}
