.tache{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  margin: 8px 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  overflow: hidden;
}

.tache svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.a-faire {
  border: 5px solid $vertc;
  color: $vertc;
  transition: all 0.3s ease-in-out;
}

.faite {
  display: flex;
  border-radius: 24px;
  padding: 10px;
  border: 5px solid $vertc;
  background-color: $vertc;
  color : $blanc;
  margin: 8px 0;
}
.faite svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.tache p, .faite p {
  margin-bottom: 0px ;
  padding: 0;
}

.task-header {
  display: flex;
  width:100%;
  background-image: asset-url("backgroundForm.png");
  padding: 10px;
}
