.tache{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  max-width: 350px;
  border-radius: 24px;
  margin: 8px 3px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);

}

.tache svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.a-faire {
  border: 5px solid $vertc;
  color: $vertc;
  transition: all 0.3s ease-in-out;
}

.faite {
  border: 5px solid $vertc;
 background-color: $vertc;
  color : $blanc;
}

.a-faire:hover {
  background-color: $vertc;
  color : $blanc;
}

.tache p {
  margin-bottom: 0px ;
  padding: 0;
}
