.task-card {
  background-color: $blanc;
  border-radius: 24px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  width: 90%;
  min-height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;

  ul {
    padding: 0;
  }

  h1 {
    text-align: center;
  }
}
