<div class="stats-wrapper">
  <div class="stats-background"></div>

  <header class="stats-header">
    <h1 class="stats-title">
      Statistiques de mes objectifs<span class="stats-title-dot">.</span>
    </h1>
  </header>

  <div class="stats-container">

    <% @objectives.each do |objective| %>

      <div class="stats-large-card">

        <div class="stats-card-title stats-large-card-title"
          style="background-image: url('<%= image_path("backgroundHome.png") %>');">
          <%= objective.goal %>
        </div>

        <div class="stats-large-card-body">
          <%= heatmap_canvas_for(objective) %>
        </div>

      </div>

    <% end %>

  </div>
</div>
